@import "../fonts/fonts.css";
@import "highlight.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  margin: 2rem 0 0.5rem 0;
}

p {
  margin: 0;
  line-height: 1.65;
}

ul {
  line-height: 1.5;
}

body {
  margin: 0;

  background: #fbfcfd;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;

  width: min(600px, calc(100vw - 40px));
}

.headline {
  margin-bottom: 20px;
}

.headline h2 {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article {
  border-top: 1px solid black;
  padding: 20px;
}

.end-piece {
  color: #888;
  text-align: center;
  font-style: italic;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.85rem;
}

article .date {
  color: #888;
}

article blockquote {
  color: #555;
  margin: 0;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 3px solid #ddd;
}

article .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

pre {
  overflow: scroll;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 5px;
  border-radius: 5px;
}

a {
  text-decoration: underline;
  color: black;
  border-radius: 2px;
  padding-inline: 2px;
}

.content a:hover,
.content a:focus-visible {
  background: black;
  color: white;
}

.headline a {
  text-decoration: none;
}

.link-underline {
  position: relative;
  z-index: 1;
}

.link-underline::after {
  content: ' ';
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #e0f2fe;
  bottom: 2px;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}

.link-underline:hover::after,
.link-underline:focus-visible::after {
  background: #bae6fd;
}

code:not([class]) {
  font-size: 1.75ex;
  background: #eee;
  border-radius: 3px;
  padding: 1px 3px;
}
